.notes-main-container-cnt {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.notes-addnotes-container-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notes-container-cnt {
  display: grid;
  gap: 20px !important; 
  width: 100%;
  justify-items: center; 

  
  grid-template-columns: repeat(4, 1fr); 
}


@media only screen and (max-width: 480px) {
  .notes-container-cnt {
    grid-template-columns: 1fr; 
    gap: 20px; 
  }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  .notes-container-cnt {
    grid-template-columns: repeat(2, 1fr); 
    gap: 8px; 
  }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .notes-container-cnt {
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .notes-container-cnt {
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
  }
}
