.notes-container-cnt {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 equal columns
  gap: 10px; // Space between the cards
  width: 100%; // Ensures the container spans the full width
  justify-items: center; // Centers items horizontally in their grid cells
}

.notes-addnotes-container-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notes-main-container-cnt {
  display: flex;
  flex-direction: column;
  width: 100%;
}


@media only screen and (min-width: 250px) and (max-width: 650px) {
  .notes-container-cnt {
    grid-template-columns: repeat(2, 1fr); // 2 columns for smaller screens
    gap: 8px; // Slightly smaller gap for compact view
  }
}

@media only screen and (min-width: 651px) and (max-width: 1024px) {
  .notes-container-cnt {
    grid-template-columns: repeat(3, 1fr); // 3 columns for medium-sized screens
  }
}

@media only screen and (min-width: 1025px) {
  .notes-container-cnt {
    grid-template-columns: repeat(4, 1fr); // Default 4 columns for larger screens
  }
}
