.sidenav-list {
    cursor: pointer;
  }
  
  .sidenav-list-item {
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
  
    &:hover {
      background-color: #f1f3f4;
    }
  
    &.active {
      background-color: rgb(254, 239, 195);
    }
  }
  
  .sidenav-link {
    text-decoration: none;
    display: flex;
    color: inherit;
    width: 100%;
  }
  
  .sidenav-icon {
    display: flex;
    align-items: center;
  }
  
  .sidenav-modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  
    .MuiTextField-root {
      flex-grow: 1;
    }
  
    .MuiIconButton-root {
      margin-left: 8px;
    }
  }
  
  .modal-label-list .label-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #f1f3f4;
    border-radius: 6px;
  
    .label-text {
      display: flex;
      align-items: center;
  
      .MuiSvgIcon-root {
        margin-right: 8px;
      }
    }
  
    .label-actions .MuiIconButton-root {
      margin-left: 4px;
    }
  }
  
.css-17ha8e8-MuiDrawer-docked .MuiDrawer-paper {
    width: 240px;
    -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    overflow-x: hidden;
    border: none;
    box-shadow: black;
}

.css-wv4byc-MuiDrawer-docked .MuiDrawer-paper {
    -webkit-transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    overflow-x: hidden;
    width: calc(56px + 1px);
    border: none;
}